header {
    
    font-family: 'Georgia', Times 'Times New Roman', Times, serif;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times 'Times New Roman', Times, serif;
}
hr {
    color: teal;
    size: 10px;
}
p {
    line-height: 1.5em;
}
.header-name {
    font-size: 25px;
}
.header-div {
    display: inline-block;
}
.header-links {
    float: right;
    font-size: 1.0em;
}
.profile-image {
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px;
}