header {
    
    font-family: 'Georgia', Times 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(217, 121, 255);
    font-family: 'Georgia', Times 'Times New Roman', Times, serif;
}
.hr {
    size: 10px;
    color: teal;
}
p {
    line-height: 1.5em;
}
.header-name {
    font-size: 25px;
    display: inline-block;
    background: rgb(220, 144, 255);
    color: white;
    padding: 10px;
}
.header-div {
    display: inline-block;
}
.header-links {
    float: right;
    font-size: 1.0em;
}
.header-links a {
    display: inline-block;
    padding: 10px;
}
.profile-image {
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px;
}
.footer {
    background: grey;
    padding: 30px 50px 5px 50px;
    font-size: 12px;
    text-align: center;

}