header {
  font-family: Arial, Helvetica, sans-serif;
  width: 960px;
}

h1 {
  color: rgb(235, 169, 252);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 20px 5px 0px 15px;
}
p {
  line-height: 1.5em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  text-align: left;
  font-size: 16px;
  padding: 0 10px 15px 10px;
}
.header-name {
  font-size: 25px;
  display: inline-block;
  background: rgb(236, 162, 255);
  color: white;
  padding: 10px;
}
.header-div {
  display: inline-block;
}
.header-links {
  float: right;
  font-size: 1em;
}
.header-links a {
  display: inline-block;
  padding: 15px;
}
.profile-image {
  width: 160px;
  height: 160px;
  float: left;
  padding: 7px 12px 0px 6px;
}
.footer {
  background: rgb(236, 158, 243);
  padding: 35px 50px 5px 50px;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
body {
  background-repeat: repeat-x;
  background-position: center;
  background-attachment: fixed;
  background-size: 586px;
  background-color: white;
}
.background-size {
  background-color: white;
  margin: 30px auto;
  padding: 0 2px;
  width: 960px;
}
.header-align {
  margin: 0 auto;
  width: 960px;
}
hr {
  border-top: 2px solid purple;
}
#line {
  width: 920px;
  margin: -20 0 0 0 0;
}

#fname {
  margin: 0 0 0 15px;
}
#email {
  margin: 0 0 0 15px;
}
#message {
  margin: 0 0 0 15px;
}

#submit {
  margin: 8px 0 8px 15px;
  background-color: rgb(240, 129, 255);
  width: 8em;
  height: 3em;
}
#message-position {
  margin: 0 0 0 15px;
  line-height: 1.5em;
}
#name-position {
  margin: 0 0 0 15px;
  line-height: 1.5em;
}
#email-position {
  margin: 0 0 0 15px;
  line-height: 1.5em;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 50%;
  padding: 0 10px 10px 15px;
}
.column img {
  margin-top: 18px;
  margin-right: 20px;
  width: 145px;
  height: 120px;
  margin-bottom: 5px;
  vertical-align: middle;
}
a:link {
  color: pink;
}
a:visited {
  color: purple;
}
a:hover {
  color: teal;
}
a:active {
  color: grey;
}
.image {
  position: relative;
  width: 100%;
}
h2 {
  position: absolute;
  top: 90px;
  left: 0;
  color: white;
  font-size: 17px;
  background-color: purple;
  padding: 5px 37px 3px 35px;
}
h3 {
  position: absolute;
  top: 90px;
  left: 0;
  color: white;
  font-size: 16px;
  background-color: purple;
  padding: 5px 24px 3px 35px;
}
h4 {
  position: absolute;
  top: 87px;
  left: 0;
  color: white;
  font-size: 16px;
  background-color: purple;
  padding: 5px 31px 3px 35px;
}
h5 {
  position: absolute;
  top: 82px;
  left: 0;
  color: white;
  font-size: 15px;
  background-color: purple;
  padding: 5px 8px 3px 6px;
}
h6 {
  position: absolute;
  top: 80px;
  left: 0;
  color: white;
  font-size: 13px;
  background-color: purple;
  padding: 5px 16px 3px 16px;
}
